* {
  margin:0;
  padding:0;
}
/* 修改container的最大宽度为1200  container给的是默认浏览器宽度1188px*/
@media screen and (max-width:1200px) {
  .container {
      width: 1200px;
      margin: 0 auto;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

/* 头部导航栏 nav */
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
}
.container .row {
  display: flex;
}
.container .row div:nth-child(1){
  width: 116px;
  height: 40px;
}
.container .row div:nth-child(2){
  width: 840px;
}
.container .row div:nth-child(3){
  width: 80px;
}
.container .row .img {
  width: 117px;
  padding-top: 20px;
}
.container .row .cell {
  padding-left: 70;
}
.container .row .cell ul{
  display: flex;
  text-align: center;
  align-items: center;
  width: 840px;
  padding-top: 30px;
  color: #fff;
}
.container .row .cell ul li{
  width: 100px;
  flex:1;
}
.container .row .cell ul li a{
  color: #fff;
  text-decoration: none;
}

.row .login {
  padding-top: 20px;
}
.row .login div{
  width: 110px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border: 1px solid #fff;
}
.login div p {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
.login div p a{
  color: #fff;
  text-decoration: none;
}
/* SEO优化服务 字体内容 */
.navgreter {
  width: 100%;
}
.navgreter .nav_img {
 position: relative;
 margin: 50px 0px;
 
}
.navgreter .nav_img h1{
  position: absolute;
  bottom: 250px;
  left: 40%;
  font-size: 45px;
  color: #fff;
 }
 .navgreter .nav_img p{
  position: absolute;
  bottom: 200px;
  left: 42%;
  font-size: 15px;
  color: #fff;
 }
 /* 链接 */
 .container .posction ul{
   width: 250px;
   display: flex;
   font-size: 12px;
 }
 /* 文章详情 */
 .detail .container {
     padding-top: 50px;
 }
 /* 左边 */
 .detail .container .detail_let .detail_ft .deta_il p:nth-child(1){
  font-size: 20px;
  padding-bottom: 20px;
 }
 .detail .container .detail_let .detail_ft .deta_il p:nth-child(2){
  font-size: 12px;
  color: rgba(152, 152, 152, 1);
 }
 .detail .container .detail_let .detail_ft .deta_il p:nth-child(2) span{
  padding:0px 50px 0px 0px;
 }

 .detail .container .detail_let .detail_ft .deta_ner p img {
  border:1px dashed #ccc;

  margin: 0px 95%;
 }
 /* .detail .container .detail_let .detail_ft .deta_ner p:nth-child(1){
  float: left;
 }
 .detail .container .detail_let .detail_ft .deta_ner p:nth-child(2){
 }
 .detail .container .detail_let .detail_ft .deta_ner p:nth-child(3){
  color: rgba(152, 152, 152, 1);
 }
 .detail .container .detail_let .detail_ft .deta_ner p:nth-child(4){
 
 }
 .detail .container .detail_let .detail_ft .deta_ner p:nth-child(5){
  
 } */
 .detail .container .detail_let .detail_ft .data_bai p{
      font-size: 16px;
      padding:0px 20px;
  }
  .detail .container .detail_let .detail_ft .deta_img img{
      display: block;
      width: 599px;
      height: 337px;
      margin-left: 80px;
  }
  .detail .container .detail_let .detail_ft .deta_title p{
     font-size: 16px;
  }
  